In [1]:
import pandas as pd

In [2]:
import yfinance as yf

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(palette='rainbow')

In [4]:
#Import and Export Stock Price Data

In [9]:
ticker = ['AAPL','BA','KO','IBM','DIS','MSFT']
#Apple  #Boeing #coca-cola #IBM #DISney #MicroSoFT

In [6]:
#download

In [8]:
yf.download('AAPL',start='2010-01-01', end='2019-02-06')

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2009-12-31   7.611786   7.619643   7.520000   7.526072   6.503574  352410800
2010-01-04   7.622500   7.660714   7.585000   7.643214   6.604801  493729600
2010-01-05   7.664286   7.699643   7.616071   7.656428   6.616219  601904800
2010-01-06   7.656428   7.686786   7.526786   7.534643   6.510980  552160000
2010-01-07   7.562500   7.571429   7.466072   7.520714   6.498945  477131200
...               ...        ...        ...        ...        ...        ...
2019-01-30  40.812500  41.537498  40.057499  41.312500  40.422104  244439200
2019-01-31  41.527500  42.250000  41.139999  41.610001  40.713184  162958400
2019-02-01  41.740002  42.244999  41.482498  41.630001  40.732758  130672400
2019-02-04  41.852501  42.915001  41.820000  42.812500  41.889771  125982000
2019-02-05  43.215000  43.770000  43.087502  43.544998  42.606483  144406400

[2289 rows x 6 columns]

In [10]:
stock = yf.download(ticker,start='2010-01-01',end='2019-02-06')

[*********************100%***********************]  6 of 6 completed

In [11]:
stock.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [12]:
stock.tail()

            Adj Close                                                 \
                 AAPL          BA         DIS         IBM         KO
Date
2019-01-30  40.422104  376.746277  108.800331  123.606735  45.206810
2019-01-31  40.713184  374.705688  110.173546  123.643517  45.461830
2019-02-01  40.732758  376.464508  109.956207  123.349197  46.000240
2019-02-04  41.889771  385.763641  110.450172  124.351791  46.519749
2019-02-05  42.606483  398.570557  111.299789  124.682930  46.529194

                            Close                                      ...  \
                  MSFT       AAPL          BA         DIS         IBM  ...
Date                                                                   ...
2019-01-30  104.002670  41.312500  387.720001  110.129997  134.380005  ...
2019-01-31  102.096245  41.610001  385.619995  111.519997  134.419998  ...
2019-02-01  100.483116  41.630001  387.429993  111.300003  134.100006  ...
2019-02-04  103.376968  42.812500  397.000000  111.800003  135.190002  ...
2019-02-05  104.823891  43.544998  410.179993  112.660004  135.550003  ...

                  Open                                        Volume  \
                   DIS         IBM         KO        MSFT       AAPL
Date
2019-01-30  110.300003  134.000000  47.250000  104.620003  244439200
2019-01-31  110.099998  134.449997  47.849998  103.800003  162958400
2019-02-01  111.970001  134.970001  48.480000  103.779999  130672400
2019-02-04  111.410004  134.020004  48.700001  102.870003  125982000
2019-02-05  112.019997  135.279999  49.330002  106.059998  144406400


                  BA       DIS      IBM        KO      MSFT
Date
2019-01-30  12705300   7853800  4500900  12952500  49471900
2019-01-31   6878500   8351600  4884000  32181500  55636400
2019-02-01   5625700   6557700  3806000  19130100  35535700
2019-02-04   4256600   7037000  3966600  15105700  31315100
2019-02-05   7230400  13619800  5398900  12651900  27325400

[5 rows x 36 columns]

In [13]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2289 entries, 2009-12-31 to 2019-02-05
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2289 non-null   float64
 1   (Adj Close, BA)    2289 non-null   float64
 2   (Adj Close, DIS)   2289 non-null   float64
 3   (Adj Close, IBM)   2289 non-null   float64
 4   (Adj Close, KO)    2289 non-null   float64
 5   (Adj Close, MSFT)  2289 non-null   float64
 6   (Close, AAPL)      2289 non-null   float64
 7   (Close, BA)        2289 non-null   float64
 8   (Close, DIS)       2289 non-null   float64
 9   (Close, IBM)       2289 non-null   float64
 10  (Close, KO)        2289 non-null   float64
 11  (Close, MSFT)      2289 non-null   float64
 12  (High, AAPL)       2289 non-null   float64
 13  (High, BA)         2289 non-null   float64
 14  (High, DIS)        2289 non-null   float64
 15  (High, IBM)        2289 non-null   float64
 16  (High, KO)         2289 non-null   float64
 17  (High, MSFT)       2289 non-null   float64
 18  (Low, AAPL)        2289 non-null   float64
 19  (Low, BA)          2289 non-null   float64
 20  (Low, DIS)         2289 non-null   float64
 21  (Low, IBM)         2289 non-null   float64
 22  (Low, KO)          2289 non-null   float64
 23  (Low, MSFT)        2289 non-null   float64
 24  (Open, AAPL)       2289 non-null   float64
 25  (Open, BA)         2289 non-null   float64
 26  (Open, DIS)        2289 non-null   float64
 27  (Open, IBM)        2289 non-null   float64
 28  (Open, KO)         2289 non-null   float64
 29  (Open, MSFT)       2289 non-null   float64
 30  (Volume, AAPL)     2289 non-null   int64
 31  (Volume, BA)       2289 non-null   int64
 32  (Volume, DIS)      2289 non-null   int64
 33  (Volume, IBM)      2289 non-null   int64
 34  (Volume, KO)       2289 non-null   int64
 35  (Volume, MSFT)     2289 non-null   int64
dtypes: float64(30), int64(6)
memory usage: 661.7 KB

In [14]:
###saving the file

In [15]:
stock.to_csv('stocks.csv')

In [16]:
pd.read_csv('stocks.csv')

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Adj Close.3,Adj Close.4,Adj Close.5,Close,Close.1,Close.2,...,Open.2,Open.3,Open.4,Open.5,Volume,Volume.1,Volume.2,Volume.3,Volume.4,Volume.5
0,NaN,AAPL,BA,DIS,IBM,KO,MSFT,AAPL,BA,DIS,...,DIS,IBM,KO,MSFT,AAPL,BA,DIS,IBM,KO,MSFT
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009-12-31,6.503574371337891,41.856788635253906,28.09070587158203,92.40611267089844,18.951757431030273,23.801456451416016,7.526071548461914,54.130001068115234,32.25,...,32.27000045776367,132.41000366210938,28.790000915527344,30.979999542236328,352410800,2189400,19651700,4223400,10848800,31929700
3,2010-01-04,6.604801177978516,43.44197463989258,27.933923721313477,93.50031280517578,18.96506118774414,24.168472290039062,7.643214225769043,56.18000030517578,32.06999969482422,...,32.5,131.17999267578125,28.579999923706055,30.6200008392334,493729600,6186700,13700400,6155300,13870400,38409100
4,2010-01-05,6.6162190437316895,44.86477279663086,27.86423683166504,92.37083435058594,18.73564338684082,24.176279067993164,7.656428337097168,58.02000045776367,31.989999771118164,...,32.06999969482422,131.67999267578125,28.424999237060547,30.850000381469727,601904800,8867800,10307700,6841400,23172400,49749600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286,2019-01-30,40.42210388183594,376.74627685546875,108.80033111572266,123.60673522949219,45.206809997558594,104.00267028808594,41.3125,387.7200012207031,110.12999725341797,...,110.30000305175781,134.0,47.25,104.62000274658203,244439200,12705300,7853800,4500900,12952500,49471900
2287,2019-01-31,40.71318435668945,374.7056884765625,110.17354583740234,123.64351654052734,45.461830139160156,102.09624481201172,41.61000061035156,385.6199951171875,111.5199966430664,...,110.0999984741211,134.4499969482422,47.849998474121094,103.80000305175781,162958400,6878500,8351600,4884000,32181500,55636400
2288,2019-02-01,40.732757568359375,376.4645080566406,109.95620727539062,123.34919738769531,46.000240325927734,100.48311614990234,41.630001068115234,387.42999267578125,111.30000305175781,...,111.97000122070312,134.97000122070312,48.47999954223633,103.77999877929688,130672400,5625700,6557700,3806000,19130100,35535700
2289,2019-02-04,41.8897705078125,385.7636413574219,110.4501724243164,124.35179138183594,46.51974868774414,103.37696838378906,42.8125,397.0,111.80000305175781,...,111.41000366210938,134.02000427246094,48.70000076293945,102.87000274658203,125982000,4256600,7037000,3966600,15105700,31315100
2290,2019-02-05,42.606483459472656,398.570556640625,111.29978942871094,124.68292999267578,46.52919387817383,104.82389068603516,43.54499816894531,410.17999267578125,112.66000366210938,...,112.0199966430664,135.27999877929688,49.33000183105469,106.05999755859375,144406400,7230400,13619800,5398900,12651900,27325400

In [27]:
pd.read_csv('stocks.csv',header=[0,1])

     Unnamed: 0_level_0  Adj Close                                      \
     Unnamed: 0_level_1       AAPL          BA         DIS         IBM
0                  Date        NaN         NaN         NaN         NaN
1            2009-12-31   6.503574   41.856789   28.090706   92.406113
2            2010-01-04   6.604801   43.441975   27.933924   93.500313
3            2010-01-05   6.616219   44.864773   27.864237   92.370834
4            2010-01-06   6.510980   46.225727   27.716166   91.770790
...                 ...        ...         ...         ...         ...
2285         2019-01-30  40.422104  376.746277  108.800331  123.606735
2286         2019-01-31  40.713184  374.705688  110.173546  123.643517
2287         2019-02-01  40.732758  376.464508  109.956207  123.349197
2288         2019-02-04  41.889771  385.763641  110.450172  124.351791
2289         2019-02-05  42.606483  398.570557  111.299789  124.682930

                                 Close                          ...  \
             KO        MSFT       AAPL          BA         DIS  ...
0           NaN         NaN        NaN         NaN         NaN  ...
1     18.951757   23.801456   7.526072   54.130001   32.250000  ...
2     18.965061   24.168472   7.643214   56.180000   32.070000  ...
3     18.735643   24.176279   7.656428   58.020000   31.990000  ...
4     18.728989   24.027906   7.534643   59.779999   31.820000  ...
...         ...         ...        ...         ...         ...  ...
2285  45.206810  104.002670  41.312500  387.720001  110.129997  ...
2286  45.461830  102.096245  41.610001  385.619995  111.519997  ...
2287  46.000240  100.483116  41.630001  387.429993  111.300003  ...
2288  46.519749  103.376968  42.812500  397.000000  111.800003  ...
2289  46.529194  104.823891  43.544998  410.179993  112.660004  ...

            Open                                          Volume              \
             DIS         IBM         KO        MSFT         AAPL          BA
0            NaN         NaN        NaN         NaN          NaN         NaN
1      32.270000  132.410004  28.790001   30.980000  352410800.0   2189400.0
2      32.500000  131.179993  28.580000   30.620001  493729600.0   6186700.0
3      32.070000  131.679993  28.424999   30.850000  601904800.0   8867800.0
4      31.900000  130.679993  28.174999   30.879999  552160000.0   8836500.0
...          ...         ...        ...         ...          ...         ...
2285  110.300003  134.000000  47.250000  104.620003  244439200.0  12705300.0
2286  110.099998  134.449997  47.849998  103.800003  162958400.0   6878500.0
2287  111.970001  134.970001  48.480000  103.779999  130672400.0   5625700.0
2288  111.410004  134.020004  48.700001  102.870003  125982000.0   4256600.0
2289  112.019997  135.279999  49.330002  106.059998  144406400.0   7230400.0


             DIS        IBM          KO        MSFT
0            NaN        NaN         NaN         NaN
1     19651700.0  4223400.0  10848800.0  31929700.0
2     13700400.0  6155300.0  13870400.0  38409100.0
3     10307700.0  6841400.0  23172400.0  49749600.0
4     10709500.0  5605300.0  19264600.0  58182400.0
...          ...        ...         ...         ...
2285   7853800.0  4500900.0  12952500.0  49471900.0
2286   8351600.0  4884000.0  32181500.0  55636400.0
2287   6557700.0  3806000.0  19130100.0  35535700.0
2288   7037000.0  3966600.0  15105700.0  31315100.0
2289  13619800.0  5398900.0  12651900.0  27325400.0

[2290 rows x 37 columns]

In [28]:
pd.read_csv('stocks.csv',header=[0,1],index_col=[0])

            Adj Close                                                 \
                 AAPL          BA         DIS         IBM         KO
Date
2009-12-31   6.503574   41.856789   28.090706   92.406113  18.951757
2010-01-04   6.604801   43.441975   27.933924   93.500313  18.965061
2010-01-05   6.616219   44.864773   27.864237   92.370834  18.735643
2010-01-06   6.510980   46.225727   27.716166   91.770790  18.728989
2010-01-07   6.498945   48.097031   27.724878   91.453102  18.682440
...               ...         ...         ...         ...        ...
2019-01-30  40.422104  376.746277  108.800331  123.606735  45.206810
2019-01-31  40.713184  374.705688  110.173546  123.643517  45.461830
2019-02-01  40.732758  376.464508  109.956207  123.349197  46.000240
2019-02-04  41.889771  385.763641  110.450172  124.351791  46.519749
2019-02-05  42.606483  398.570557  111.299789  124.682930  46.529194

                            Close                                      ...  \
                  MSFT       AAPL          BA         DIS         IBM  ...
Date                                                                   ...
2009-12-31   23.801456   7.526072   54.130001   32.250000  130.899994  ...
2010-01-04   24.168472   7.643214   56.180000   32.070000  132.449997  ...
2010-01-05   24.176279   7.656428   58.020000   31.990000  130.850006  ...
2010-01-06   24.027906   7.534643   59.779999   31.820000  130.000000  ...
2010-01-07   23.778025   7.520714   62.200001   31.830000  129.550003  ...
...                ...        ...         ...         ...         ...  ...
2019-01-30  104.002670  41.312500  387.720001  110.129997  134.380005  ...
2019-01-31  102.096245  41.610001  385.619995  111.519997  134.419998  ...
2019-02-01  100.483116  41.630001  387.429993  111.300003  134.100006  ...
2019-02-04  103.376968  42.812500  397.000000  111.800003  135.190002  ...
2019-02-05  104.823891  43.544998  410.179993  112.660004  135.550003  ...

                  Open                                        Volume  \
                   DIS         IBM         KO        MSFT       AAPL
Date
2009-12-31   32.270000  132.410004  28.790001   30.980000  352410800
2010-01-04   32.500000  131.179993  28.580000   30.620001  493729600
2010-01-05   32.070000  131.679993  28.424999   30.850000  601904800
2010-01-06   31.900000  130.679993  28.174999   30.879999  552160000
2010-01-07   31.770000  129.869995  28.165001   30.629999  477131200
...                ...         ...        ...         ...        ...
2019-01-30  110.300003  134.000000  47.250000  104.620003  244439200
2019-01-31  110.099998  134.449997  47.849998  103.800003  162958400
2019-02-01  111.970001  134.970001  48.480000  103.779999  130672400
2019-02-04  111.410004  134.020004  48.700001  102.870003  125982000
2019-02-05  112.019997  135.279999  49.330002  106.059998  144406400


                  BA       DIS      IBM        KO      MSFT
Date
2009-12-31   2189400  19651700  4223400  10848800  31929700
2010-01-04   6186700  13700400  6155300  13870400  38409100
2010-01-05   8867800  10307700  6841400  23172400  49749600
2010-01-06   8836500  10709500  5605300  19264600  58182400
2010-01-07  14379100   8202100  5840600  13234600  50559700
...              ...       ...      ...       ...       ...
2019-01-30  12705300   7853800  4500900  12952500  49471900
2019-01-31   6878500   8351600  4884000  32181500  55636400
2019-02-01   5625700   6557700  3806000  19130100  35535700
2019-02-04   4256600   7037000  3966600  15105700  31315100
2019-02-05   7230400  13619800  5398900  12651900  27325400

[2289 rows x 36 columns]

In [30]:
stock_2 =pd.read_csv('stocks.csv',header=[0,1],index_col=[0],parse_dates=[0])

In [32]:
stock_2.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [33]:
stock_2.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close',   'BA'),
            ('Adj Close',  'DIS'),
            ('Adj Close',  'IBM'),
            ('Adj Close',   'KO'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close',   'BA'),
            (    'Close',  'DIS'),
            (    'Close',  'IBM'),
            (    'Close',   'KO'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High',   'BA'),
            (     'High',  'DIS'),
            (     'High',  'IBM'),
            (     'High',   'KO'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low',   'BA'),
            (      'Low',  'DIS'),
            (      'Low',  'IBM'),
            (      'Low',   'KO'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open',   'BA'),
            (     'Open',  'DIS'),
            (     'Open',  'IBM'),
            (     'Open',   'KO'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume',   'BA'),
            (   'Volume',  'DIS'),
            (   'Volume',  'IBM'),
            (   'Volume',   'KO'),
            (   'Volume', 'MSFT')],
           )

In [34]:
stock_2.columns.to_flat_index()

Index([('Adj Close', 'AAPL'),   ('Adj Close', 'BA'),  ('Adj Close', 'DIS'),
        ('Adj Close', 'IBM'),   ('Adj Close', 'KO'), ('Adj Close', 'MSFT'),
           ('Close', 'AAPL'),       ('Close', 'BA'),      ('Close', 'DIS'),
            ('Close', 'IBM'),       ('Close', 'KO'),     ('Close', 'MSFT'),
            ('High', 'AAPL'),        ('High', 'BA'),       ('High', 'DIS'),
             ('High', 'IBM'),        ('High', 'KO'),      ('High', 'MSFT'),
             ('Low', 'AAPL'),         ('Low', 'BA'),        ('Low', 'DIS'),
              ('Low', 'IBM'),         ('Low', 'KO'),       ('Low', 'MSFT'),
            ('Open', 'AAPL'),        ('Open', 'BA'),       ('Open', 'DIS'),
             ('Open', 'IBM'),        ('Open', 'KO'),      ('Open', 'MSFT'),
          ('Volume', 'AAPL'),      ('Volume', 'BA'),     ('Volume', 'DIS'),
           ('Volume', 'IBM'),      ('Volume', 'KO'),    ('Volume', 'MSFT')],
      dtype='object')

In [35]:
stock_2.columns = stock_2.columns.to_flat_index()

In [36]:
stock_2.head()

,"(Adj Close, AAPL)","(Adj Close, BA)","(Adj Close, DIS)","(Adj Close, IBM)","(Adj Close, KO)","(Adj Close, MSFT)","(Close, AAPL)","(Close, BA)","(Close, DIS)","(Close, IBM)",...,"(Open, DIS)","(Open, IBM)","(Open, KO)","(Open, MSFT)","(Volume, AAPL)","(Volume, BA)","(Volume, DIS)","(Volume, IBM)","(Volume, KO)","(Volume, MSFT)"
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-31,6.503574,41.856789,28.090706,92.406113,18.951757,23.801456,7.526072,54.130001,32.25,130.899994,...,32.27,132.410004,28.790001,30.980000,352410800,2189400,19651700,4223400,10848800,31929700
2010-01-04,6.604801,43.441975,27.933924,93.500313,18.965061,24.168472,7.643214,56.180000,32.07,132.449997,...,32.50,131.179993,28.580000,30.620001,493729600,6186700,13700400,6155300,13870400,38409100
2010-01-05,6.616219,44.864773,27.864237,92.370834,18.735643,24.176279,7.656428,58.020000,31.99,130.850006,...,32.07,131.679993,28.424999,30.850000,601904800,8867800,10307700,6841400,23172400,49749600
2010-01-06,6.510980,46.225727,27.716166,91.770790,18.728989,24.027906,7.534643,59.779999,31.82,130.000000,...,31.90,130.679993,28.174999,30.879999,552160000,8836500,10709500,5605300,19264600,58182400
2010-01-07,6.498945,48.097031,27.724878,91.453102,18.682440,23.778025,7.520714,62.200001,31.83,129.550003,...,31.77,129.869995,28.165001,30.629999,477131200,14379100,8202100,5840600,13234600,50559700

In [37]:
###multi  index

In [38]:
stock_3 = stock_2.copy()

In [39]:
stock_3.columns = pd.MultiIndex.from_tuples(stock_3.columns)

In [40]:
stock_3.head()

           Adj Close                                                         \
                AAPL         BA        DIS        IBM         KO       MSFT
Date
2009-12-31  6.503574  41.856789  28.090706  92.406113  18.951757  23.801456
2010-01-04  6.604801  43.441975  27.933924  93.500313  18.965061  24.168472
2010-01-05  6.616219  44.864773  27.864237  92.370834  18.735643  24.176279
2010-01-06  6.510980  46.225727  27.716166  91.770790  18.728989  24.027906
2010-01-07  6.498945  48.097031  27.724878  91.453102  18.682440  23.778025

               Close                                ...   Open              \
                AAPL         BA    DIS         IBM  ...    DIS         IBM
Date                                                ...
2009-12-31  7.526072  54.130001  32.25  130.899994  ...  32.27  132.410004
2010-01-04  7.643214  56.180000  32.07  132.449997  ...  32.50  131.179993
2010-01-05  7.656428  58.020000  31.99  130.850006  ...  32.07  131.679993
2010-01-06  7.534643  59.779999  31.82  130.000000  ...  31.90  130.679993
2010-01-07  7.520714  62.200001  31.83  129.550003  ...  31.77  129.869995

                                     Volume                               \
                   KO       MSFT       AAPL        BA       DIS      IBM
Date
2009-12-31  28.790001  30.980000  352410800   2189400  19651700  4223400
2010-01-04  28.580000  30.620001  493729600   6186700  13700400  6155300
2010-01-05  28.424999  30.850000  601904800   8867800  10307700  6841400
2010-01-06  28.174999  30.879999  552160000   8836500  10709500  5605300
2010-01-07  28.165001  30.629999  477131200  14379100   8202100  5840600


                  KO      MSFT
Date
2009-12-31  10848800  31929700
2010-01-04  13870400  38409100
2010-01-05  23172400  49749600
2010-01-06  19264600  58182400
2010-01-07  13234600  50559700

[5 rows x 36 columns]

In [41]:
##swapping

In [43]:
stock_3.swaplevel(axis=1).sort_index(axis=1)

                 AAPL                                                         \
            Adj Close      Close       High        Low       Open     Volume
Date
2009-12-31   6.503574   7.526072   7.619643   7.520000   7.611786  352410800
2010-01-04   6.604801   7.643214   7.660714   7.585000   7.622500  493729600
2010-01-05   6.616219   7.656428   7.699643   7.616071   7.664286  601904800
2010-01-06   6.510980   7.534643   7.686786   7.526786   7.656428  552160000
2010-01-07   6.498945   7.520714   7.571429   7.466072   7.562500  477131200
...               ...        ...        ...        ...        ...        ...
2019-01-30  40.422104  41.312500  41.537498  40.057499  40.812500  244439200
2019-01-31  40.713184  41.610001  42.250000  41.139999  41.527500  162958400
2019-02-01  40.732758  41.630001  42.244999  41.482498  41.740002  130672400
2019-02-04  41.889771  42.812500  42.915001  41.820000  41.852501  125982000
2019-02-05  42.606483  43.544998  43.770000  43.087502  43.215000  144406400

                    BA                                      ...         KO  \
             Adj Close       Close        High         Low  ...       High
Date                                                        ...
2009-12-31   41.856789   54.130001   55.220001   54.049999  ...  28.875000
2010-01-04   43.441975   56.180000   56.389999   54.799999  ...  28.610001
2010-01-05   44.864773   58.020000   58.279999   56.000000  ...  28.495001
2010-01-06   46.225727   59.779999   59.990002   57.880001  ...  28.219999
2010-01-07   48.097031   62.200001   62.310001   59.020000  ...  28.184999
...                ...         ...         ...         ...  ...        ...
2019-01-30  376.746277  387.720001  391.970001  380.500000  ...  47.889999
2019-01-31  374.705688  385.619995  388.989990  382.079987  ...  48.779999
2019-02-01  376.464508  387.429993  392.799988  384.730011  ...  48.779999
2019-02-04  385.763641  397.000000  397.070007  388.119995  ...  49.450001
2019-02-05  398.570557  410.179993  410.750000  399.549988  ...  49.470001

                                                  MSFT              \
                  Low       Open    Volume   Adj Close       Close
Date
2009-12-31  28.465000  28.790001  10848800   23.801456   30.480000
2010-01-04  28.450001  28.580000  13870400   24.168472   30.950001
2010-01-05  28.070000  28.424999  23172400   24.176279   30.959999
2010-01-06  27.990000  28.174999  19264600   24.027906   30.770000
2010-01-07  27.875000  28.165001  13234600   23.778025   30.450001
...               ...        ...       ...         ...         ...
2019-01-30  47.189999  47.250000  12952500  104.002670  106.379997
2019-01-31  47.470001  47.849998  32181500  102.096245  104.430000
2019-02-01  48.400002  48.480000  19130100  100.483116  102.779999
2019-02-04  48.540001  48.700001  15105700  103.376968  105.739998
2019-02-05  49.099998  49.330002  12651900  104.823891  107.220001


                  High         Low        Open    Volume
Date
2009-12-31   30.990000   30.480000   30.980000  31929700
2010-01-04   31.100000   30.590000   30.620001  38409100
2010-01-05   31.100000   30.639999   30.850000  49749600
2010-01-06   31.080000   30.520000   30.879999  58182400
2010-01-07   30.700001   30.190001   30.629999  50559700
...                ...         ...         ...       ...
2019-01-30  106.379997  104.330002  104.620003  49471900
2019-01-31  105.220001  103.180000  103.800003  55636400
2019-02-01  104.099998  102.349998  103.779999  35535700
2019-02-04  105.800003  102.769997  102.870003  31315100
2019-02-05  107.269997  105.959999  106.059998  27325400

[2289 rows x 36 columns]

In [44]:
stock_2.to_csv('stock_2.csv')

In [46]:
stock_4 = stock_3.swaplevel(axis=1).sort_index(axis=1)